@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins' , sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

.container {
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.form-box {
    position: absolute;
    width: 50%;
    height: 100%;
    background: seagreen;
    right: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    color: #333;
}

from{
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}